^tmp_admin=head^
<div class="col-md-9">
    ^tmp_admin=elements=error_success^
    ^tmp_admin=elements=sub_nav^
    ^tmp_admin=elements=search_input^
    <div class="table_container">
        <table class="table table-responsive table-condensed">
            ^tmp_admin=elements=table_headers^
            <tr ng-repeat="customObject in customObjects track by customObject._id" ng-if="!customObject.hidden && !customObject.paginated">
                <td ng-if="!customObject.First || !customObject.Last"><a class="custom_object_name" ng-href="/admin/content/objects/{{objectType._id}}/{{customObject._id}}" ng-bind="customObject['Display Name'] || customObject['Business Name'] || customObject.title || customObject.name"></a></td>
                <td ng-if="customObject.First && customObject.Last"><a class="custom_object_name" ng-href="/admin/content/objects/{{objectType._id}}/{{customObject._id}}" ng-bind="customObject.First"></a></td>
                <td ng-if="customObject.First && customObject.Last"><a class="custom_object_name" ng-href="/admin/content/objects/{{objectType._id}}/{{customObject._id}}" ng-bind="customObject.Last"></a></td>
                <td ng-if="customObject.description" ng-bind="customObject.description"></td>
                <td ng-if="customObject.Industry" ng-bind="customObject.Industry"></td>
                <td ng-if="customObject.Status" ng-bind="customObject.Status"></td>
                <td ng-bind="customObject.last_modified | date: 'yyyy-MM-dd HH:mm'"></td>
                <td><a href="#" ng-click="confirmDelete(customObject)"><i class="fa fa-trash"></i></a></td>
            </tr>
        </table>
    </div>
    ^tmp_admin=elements=pagination^
    ^tmp_admin=elements=delete_modal^
</div>
^tmp_angular=admin=content=objects=manage_objects^
^tmp_admin=footer^
