^tmp_head^
<div class="container">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <h1>^page_headline^</h1>
            ^page_content^
        </div>
        <div class="col-sm-10 col-sm-offset-1 testimonial_items">
            <div ng-repeat="customObject in customObjects track by $index">
                {{getTrustedContent(customObject.Message)}}
                <div class="col-md-2">
                    <div class="testimonial_headshot imagefill">
                        <img ng-src="{{customObject.imageUrl}}" alt="{{customObject.imageName}}" />
                    </div>
                </div>
                <div class="col-md-10" style="padding-left: 25px;">
                    <blockquote>
                        <div ng-bind-html="currentMessage"></div>
                        <small><cite title="{{customObject['Display Name']}}" ng-bind="customObject['Display Name']"></cite></small>
                        <p style="font-size: 13px; font-style: italic; color: #000;" ng-bind="customObject['Testimony Date'] | date: 'MMMM d, yyyy'"></p>
                    </blockquote>
                    <!--<h3 ng-bind="customObject['Display Name']"></h3>-->
                    <!--<h6 style="font-style: italic;" ng-bind="customObject['Testimony Date'] | date: 'MMMM d, yyyy'"></h6>-->
                    <!--<div ng-bind-html="currentMessage"></div>-->
                </div>
            </div>
        </div>
    </div>
</div>
^tmp_angular=testimonial-items^
^tmp_footer^

