^tmp_head^
<div class="container">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <img src="/public/bl-splash/img/under-construction.png" alt="Under Construction" class="img-responsive under-construction" />
            <h1>^loc_COMING_SOON^</h1>
            <img src="^site_logo^" alt="^site_name^" class="img-responsive logo" />
        </div>
    </div>
</div>
^tmp_footer^

