<script type="text/javascript">
    $('<link rel="stylesheet" type="text/css" href="^contact_form_stylesheet^">').appendTo(document.head);
</script>
<script src="^jquery_validate_src^"></script>
<script src="/public/bl-contactform-pencilblue/js/contact_form.js"></script>

<div class="container">
    <div class="row">
        <div class="contactform">
            <div class="col-12 col-sm-12 col-lg-12">
                <h2>^loc_CF_CLIENT_TITLE^</h2>
                <p>^loc_CF_CLIENT_SUBTITLE^</p>
                <form role="form" id="ContactForm">
                    <div class="form-group has-feedback">
                        <label class="control-label" for="name">
                            ^loc_CF_CLIENT_NAME_LABEL^
                        </label>
                        <input type="text" class="form-control input-sm" id="name" name="name" placeholder="^loc_CF_CLIENT_NAME_PROMPT^" />
                        <span class="help-block"></span>
                    </div>
                    <div class="form-group has-feedback" style="^contact_form_phone^">
                        <label class="control-label" for="phone">
                            ^loc_CF_CLIENT_PHONE_LABEL^
                        </label>
                        <input type="tel" class="form-control input-sm optional" id="phone" name="phone" placeholder="^loc_CF_CLIENT_PHONE_PROMPT^" data-msg-simplePhone="^loc_CF_CLIENT_PHONE_VALIDATION^"/>
                        <span class="help-block"></span>
                    </div>
                    <div class="form-group has-feedback">
                        <label class="control-label" for="email">
                            ^loc_CF_CLIENT_EMAIL_LABEL^
                        </label>
                        <input type="email" class="form-control input-sm" id="email" name="email" placeholder="^loc_CF_CLIENT_EMAIL_PROMPT^" />
                        <span class="help-block"></span>
                    </div>
                    <div class="form-group has-feedback">
                        <label class="control-label" for="subject">
                            ^loc_CF_CLIENT_SUBJECT_LABEL^
                        </label>
                        <input type="text" class="form-control input-sm" id="subject" name="subject" placeholder="^loc_CF_CLIENT_SUBJECT_PROMPT^" />
                        <span class="help-block"></span>
                    </div>
                    <div class="form-group has-feedback">
                        <label class="control-label" for="message">
                            ^loc_CF_CLIENT_MESSAGE_LABEL^
                        </label>
                        <textarea rows="5" cols="30" class="form-control input-sm" id="message" name="message" placeholder="^loc_CF_CLIENT_MESSAGE_PROMPT^" ></textarea>
                        <span class="help-block"></span>
                    </div>
                    <div class="form-group has-feedback">
                        ^contact_form_captcha^
                        <span class="help-block"></span>
                    </div>

                    <div class="alerts">
                        <div id="SendingAlert" class="alert alert-info alerter" role="alert">
                            <div class="glyphicon glyphicon-refresh glyphicon-spin"></div>
                            <div class="alert-text"> ^loc_CF_CLIENT_ALERT_SENDING^ </div>
                        </div>
                        <div id="ErrorAlert" class="alert alert-danger alerter" role="alert">
                            ^loc_CF_CLIENT_ALERT_ERROR^
                        </div>
                        <div id="ErrorMessageAlert" class="alert alert-danger alerter" role="alert">
                            ^loc_CF_CLIENT_ALERT_ERROR^
                        </div>
                        <div id="SuccessAlert" class="alert alert-success alerter" role="alert">
                            ^loc_CF_CLIENT_ALERT_SUCCESS^
                        </div>
                    </div>
                    <button type="submit" id="ContactSubmit" class="btn btn-primary btn-lg submit-button">
                        ^loc_CF_CLIENT_SEND_BUTTON^
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
