^tmp_head^
<div class="container">
    <div id="articles" class="row">
        <div class="col-sm-10 col-sm-offset-1">
            ^articles^
            <iframe src="https://www.google.com/maps?q=^primary_location^&output=embed&z=8" width="100%" height="300" frameborder="0" allowfullscreen=""></iframe>
        </div>
    </div>
    <div id="articles" class="row">
        <div class="col-sm-10 col-sm-offset-1">
            ^tmp_contact_form^
        </div>
    </div>
</div>
^angular^
^tmp_footer^