^tmp_head^
<div class="container">
    <ul class="breadcrumb fixed">
        <li><a href="/page/products">Products</a></li><!--TODO: Stop using hard coded value-->
        <li class="active">^section_display_name^</li>
    </ul>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <h1 ng-bind="sectionObject['Display Name']"></h1>
            <div class="content" ng-bind-html="getTrustedHtml(sectionObject.Content)"></div>
        </div>
        <div class="col-sm-10 col-sm-offset-1" ng-if="categoryObjects.length != 0">
            <div class="grid products">
                <div class="grid-sizer"></div>
                <div ng-repeat="categoryObject in categoryObjects track by $index">
                    <div class="grid-item">
                        <a ng-href="/page/products/^section_name^/{{categoryObject.name}}">
                            <img ng-src="{{categoryObject.imageUrl}}" class="img-responsive" ng-alt="{{categoryObject.imageName}}" />
                            <h3 class="simple button" ng-bind="categoryObject['Display Name']"></h3>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
^tmp_angular=categories^
^tmp_footer^

