^tmp_head^
<div class="container">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <h1>^page_headline^</h1>
            ^page_content^
        </div>
        <div class="col-sm-10 col-sm-offset-1" ng-if="productObjects.length > 0">
            <div class="grid products">
                <div class="grid-sizer"></div>
                <div ng-repeat="productObject in productObjects track by $index">
                    <div class="grid-item" ng-if="productObject.Featured">
                        <a ng-href="/page/product/{{productObject.name}}">
                            <img ng-src="{{productObject.imageUrl}}" class="img-responsive" ng-alt="{{productObject.imageName}}" />
                            <div class="info">
                                <h3 ng-bind="productObject['Display Name']"></h3>
                            </div>
                            <h4 class="price">{{getAsCurrency(productObject.Price)}}</h4>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
^tmp_angular=featured^
^tmp_footer^

