^tmp_admin=head^

<script type="text/javascript">
    $('<link rel="stylesheet" type="text/css" href="/public/bl-contactform-pencilblue/css/contact_form_settings.css">').appendTo(document.head);
</script>

<div class="col-md-9 cfsettings">
    ^tmp_admin=elements=error_success^
    ^tmp_admin=elements=sub_nav^
    ^tmp_admin=elements=tab_nav^
    <form name="ObjectsForm" ng-submit="save()" novalidate>
        <fieldset>
             <div class="form-group">
                <label>^loc_CF_ADMIN_ENABLE_LABEL^</label>
                <br/>
                <div class="btn-group ng-scope">
                    <button type="button" class="btn btn-default" ng-class="{'active': settings.enabled}" ng-click="setEnabled(true)">Yes</button>
                    <button type="button" class="btn btn-default" ng-class="{'active': !settings.enabled}" ng-click="setEnabled(false)">No</button>
                </div>
            </div>

            <div id="CustomObjectSettings">

                <div class="form-group">
                    <label>^loc_CF_ADMIN_CUSTOM_OBJECT_TYPE_LABEL^</label>
                    <div class="input-group">
                        <input type="text" class="form-control" ng-model="settings.type" ng-disabled="!settings.enabled"></input>
                        <span class="input-group-btn">
                            <a class="btn btn-default" href="#" ng-disabled="!settings.enabled || creating" ng-click="create()">
                                <i class="fa fa-sitemap" ng-class="{'fa-sitemap': !creating, 'fa-circle-o-notch fa-spin': creating}"></i>
                                &nbsp;^loc_CF_ADMIN_CREATE_BUTTON^
                            </a>
                        </span>
                </div>

            </div>

            <a class="btn btn-default" href="/admin/plugins/bl-contactform-pencilblue/settings" ng-disabled="!settings.enabled">
                <i class="fa fa-ban"></i>&nbsp;Cancel
            </a>
            <button type="submit" class="btn btn-primary" ng-disabled="saving">
                <i class="fa fa-save" ng-class="{'fa-save': !saving, 'fa-circle-o-notch fa-spin': saving}"></i>&nbsp;Save
            </button>
        </fieldset>
    </form>
</div>
^tmp_angular=admin=settings=object_settings^
^tmp_admin=footer^
