.fc-event {
    border: 1px solid #14C214;
    background: #14C214;
}

.fc-above-768 {
    display: none;
}

@media (min-width: 768px) {
    .fc-above-768 {
        display: block;
    }

    .fc-below-768 {
        display: none;
    }
}
